@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);

$open-sans: 'Open Sans', sans-serif;
$oleo-script: 'Oleo Script', cursive;
$bold: 700;
$regular:400;
$italic:i;

$blue: #4472CA;
$teal: #00A6A6;
$red: #D7263D;

.navigation {
    
}

.container {
    max-width: 500px;
    margin: 2rem auto;
}

body {
    font-family: $open-sans;
} 

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
//Button Styles:

.button {
    background: $blue;
    color:white;
    border:none;
    border-radius:2px;
    cursor: pointer;
    text-decoration: none;
    display:inline-block;
    text-align: center;
    margin:5px !important;
    padding: .5rem 1rem !important;
    
    &:hover{
      background: darken($blue, 10);
    }
    
    &.danger{
    background: $red;
    border-color: $red;
    &:hover{
      background: darken($red, 10);
    }
  }
}
 

.button_to {
    display:inline-block;
}